<div class="dashboard">
  <section class="row">
    <div class="columns large-2"></div>
    <div class="columns large-8">
      <%= link_to "Login with Twitter", "/auth/twitter", class: "btn btn-lg btn-default btn-home" %>

    </div>
    <div class="columns large-2"></div>
  </section>
</div>
