<div class="about">
  <section class="row">
    <div class="columns large-12">
      <a id="about" name="about"></a>
      <h2 class="centered">Use Our Service</h2>
    </div>
    <div class="columns large-4">
          <p>
            Click any of the two login buttons on the home page.
            Seriously. There are two of them. After logging in with twitter,
            yoou will be prompted to add a phone number. Add it.
            Text this us your latitude and longitude in this format:
          </p>
          <p>88.80, 69.69</p>
          *not an actual location

    </div>
    <div class="columns large-4">
      <div class="nic-pic">
        <%= image_tag "niccage.png" %>
      </div>
    </div>
    <div class="columns large-4">
        <p> We text you back with climate conditions for the limitless and
          soul-crushing emptiness that awaits you. We're pretty accurate.
        </p>
        <p>
          Good luck.
        </p>


    </div>
  </section>

  <section class="row">
    <hr />
    <div class="disclaimer">
      <div class="columns large-12">
        <a id="legal" name="legal"></a>
        <h2 class="centered">Disclaimer</h2>
      </div>
      <div class="large-12 columns">
        <p>
          Define combat sir. We're stuck on an island with a bunch of violence-for-pleasure-seeking psychopathic marines SHAME-ON-THEM! You know I like history too and maybe when this is all over you and I can stop by the souvenir shop together but right now I just... I just wanna find some rockets! This is pistachio paste isn't it? No but your face is.  Put... the bunny... back... in the box.
        </p>
      </div>
    </div>
    <hr />
  </section>
</div>
