<div class="about">
  <section class="row">
    
    <div class="large-4 column textbox">
        <div class="panel">
          <p>
            I'm a vampire! I'm a vampire! I'm a vampire! I never misfiled anything! Not once. Not one time! That's right Alva. Well the fact is I did murder someone last night. I turned into a vampire. It's a long story. I'm a vampire.  Got my first chemistry set when I was seven blew my eyebrows off we never saw the cat again been into it ever since. Honey? Uh... You wanna know who really killed JFK?
          </p>
        </div>
    </div>
    <div class="small-4 column">
      <%= image_tag "niccage.png" %>
    </div>
    <div class="large-4 column textbox">
      <div class="panel">
        <p>
          Define combat sir. We're stuck on an island with a bunch of violence-for-pleasure-seeking psychopathic marines SHAME-ON-THEM! You know I like history too and maybe when this is all over you and I can stop by the souvenir shop together but right now I just... I just wanna find some rockets! This is pistachio paste isn't it? No but your face is.  Put... the bunny... back... in the box.
        </p>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="large-12 columns">
        <p>
          No one is gonna tell me who I can score with! Now I want this chick she wants me so fuck it we're goin' back. All right but when they attack the car save the radio. Sorry boss but there's only two men I trust. One of them's me. The other's not you. Kill me! Why didn't you just tell them were the microfilm was and create a solution? Well I'm one of those fortunate people who like my job sir. You just put it in the right file according to alphabetical order! Y'know A B C D E F G!
        </p>
      </div>
    </div>

    <hr />

  </section>
</div>
