
<br>
<br>

<div class="hero">
  <section class="row headline">
    <div class="columns small-12 large-10 small-centered">
      <h2 class="centered start">Know Before You Go</h2>
      <h2 class="centered title">SafeCatch</h2>
    </div>
  </section>
    <div class="image">
      <%# image_tag("Optimized-ocean.jpg") %>
    </div>
  <div class="introduction">
    <section class="row">
      <div class="columns small-12 large-8 small-centered">
        <p class="centered intro">
          You need the money. You need to feed your family. So go on and
          head out. We know what's out there.
        </br>We'll make sure you get Home safe.
        </p>
      </div>
    </section>
  </div>

  <div class="explanation">
    <section class="row">
      <h2 class="centered"> How It's Done</h2>
      <div class="columns large-12">
        <div class="row">
          <div class="columns large-4">
            <p>
              We keep a watchful eye on our state-of-the-art weather channels
            </p>
          </div>
          <div class="columns large-4">
            <p>
              We imagine the worst case scenario in the high seas
            </p>
          </div>
          <div class="columns large-4">
            <p>
              We text you so you can prepare
            </p>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>

<br>
<br>
