
<br>
<br>

<div class="hero">
  <div class="row">
    <div class="">
      <%= image_tag("Optimized-ocean.jpg") %>
    </div>
  </div>
</div>

<br>
<br>

  <div class="row">
    <div class="large-12 columns">
      <div class="panel callout first-divider">
        <%= image_tag "dark_embroidery.png" %>
      </div>
    </div>
  </div>
