<div class="front">

  <div class="hero">
    <section class="row headline">
      <div class="columns small-12 large-10 small-centered">
        <h2 class="centered start">Know Before You Go</h2>
        <h2 class="centered title">SafeCatch</h2>
      </div>
    </section>

    <section class="centered front-login-options">
      <div class="columns small-12 large-10 small-centered">
        <% unless current_user %>
          <%= link_to image_tag("sign-in-with-twitter-gray.png"), "/auth/twitter", class: "btn btn-lg btn-default btn-home" %>
          <% end %>
      </div>
    </section>

    <div class="introduction">
      <section class="row">
        <div class="columns small-12 large-8 small-centered">
          <p class="centered intro">
            Venture into the Unknown
          </br>We Make Sure You Get Home safe.
          </p>
        </div>
      </section>
    </div>

    <div class="explanation">
      <section class="row">
        <h2 class="centered"> How It's Done</h2>
        <div class="columns large-12">
          <div class="row">
            <div class="columns large-4">
              <div class="award">
                <%= image_tag("text_us.png") %>
                <p>We keep a watchful eye on the weather</p>
              </div>
            </div>
            <div class="columns large-4">
              <div class="award">
                <%= image_tag("research.png") %>
                <p>We imagine the worst case scenarios</p>
              </div>
            </div>
            <div class="columns large-4">
              <div class="award">
                <%= image_tag("text_back.png") %>
                <p>
                  We text back so you prepare for krakens
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
