<div class="trip index">
  <h1>Your Trips</h1>

  <%= link_to "Add Trip", new_trip_path, class: "btn btn-infop" %>

  <div class="all-trips">
    <% @trips.each do |trip| %>
      <%= trip.name %>
      <%= trip.long %>
      <%= trip.lat %>
    <% end %>
  </div>

</div>
