<div class="new-trip-form">
  <section class="row title">
    <h1 class="centered">Create A New Trip</h1>
  </section>

  <section class="row">
    <div class="input-form">
      <%= form_for @trip do |f|%>

      <div class="row centered">
        <div class="large-4 columns">
          <label>Latitude
            <%= f.text_field :lat%>
          </label>
        </div>
      </div>

      <div class="row centered">
        <div class="large-4 columns">
          <label>Longitude
            <%= f.text_field :long%>
          </label>
        </div>
      </div>

        <%= f.submit "Create Trip" %>
      <% end %>
    </section>
  </div>

</div>
