<div class="new-trip-form">
  <section class="row title">
    <h2 class="centered">Add New Trip</h2>
  </section>

    <div class="input-form" align="center">
      <%= form_for @trip do |f|%>
      <div class="row">
          <label>Latitude
            <%= f.text_field :lat%>
          </label>
      </div>
      <div class="row">
          <label>Longitude
            <%= f.text_field :long%>
          </label>
      </div>

        <%= f.submit "Create Trip" %>
      <% end %>
  </div>

</div>
