---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?lat=39.73&lon=-104.99&APPID=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-source:
      - redis
    body:
      encoding: UTF-8
      string: |
        {"coord":{"lon":-104.99,"lat":39.73},"sys":{"message":0.1801,"country":"US","sunrise":1432035683,"sunset":1432087892},"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"base":"stations","main":{"temp":278.354,"temp_min":278.354,"temp_max":278.354,"pressure":813.22,"sea_level":1029.33,"grnd_level":813.22,"humidity":100},"wind":{"speed":1.62,"deg":57.0071},"clouds":{"all":92},"rain":{"3h":1.345},"dt":1432077189,"id":5421250,"name":"Englewood","cod":200}
  recorded_at: Tue, 19 May 2015 23:23:00 GMT
recorded_with: VCR 2.9.3
