<div class="user-dashboard columns small-4">
  <div class="user-content">
    <section class="row">
        <div class="user-image centered">
            <%= image_tag current_user.image, class: "img-circle img-thumbnail home-image" %>
        </div>

        <h3 class="centered"> <%= current_user.nickname %></h3>
        <h3 class="centered"> <%= current_user.number %></h3>
    </section>
  </div>
</div>

<section class="row columns medium-8">
  <div class="all-trips">
    <%= render template: "trips/index" %>
  </div>
</section>
