<div class="user-dashboard">
  <div class="user-content">
    <section class="row">

        <div class="columns large-6">
          <%= image_tag current_user.image, class: "img-circle img-thumbnail home-image" %>
        </div>

      <div class="columns large-6">
        <h1 class="centered">Logged In As:</h1>
        <h3 class="centered"> <%= current_user.nickname %></h3>
      </div>

    </section>
  </div>

</div>

<div class="all-trips">
  <%= render template: "trips/index" %>
</div>
