<div class="user-dashboard">

  <div class="divide">
    <section class="row">
      <div class="columns small-12"></div>
    </section>
  </div>

  <div class="user-content">
    <section class="row">
      <div class="columns large-12">
        <h1 class="centered">You Are Logged In As:</h1>

        <div class="user-image centered">
          <div class="columns large-12">
            <%= image_tag current_user.image, class: "img-circle img-thumbnail home-image" %>
          </div>
        </div>

        <h2 class="centered"> <%= current_user.nickname %></h2>
        <div class="centered"><a href="#"></a><%= link_to "Logout", "", class: "button radius", id: "logout" %></div>

      </div>
    </section>
  </div>

  <div class="divide">
    <section class="row">
      <div class="columns small-12"></div>
    </section>
  </div>

</div>
