<nav class="icon-bar four-up" role="navigation">
  <a class="item">
    <%= link_to dashboard_index_path do %>
      <i class="fi-anchor"></i>
      <label id='itemlabel2'>Log In</label>
    <% end %>
  </a>
  <a class="item">
    <%= link_to static_pages_about_path do %>
      <i class="fi-info"></i>
      <label id='itemlabel3'>About Us</label>
    <% end %>
  </a>
  <a class="item">
      <i class="fi-results-demographics"></i>
      <label id='itemlabel1'>Dashboard</label>
  </a>
  <a class="item">
    <%= link_to root_path do%>
      <i class="fi-home"></i>
      <label id='itemlabel1'>Home</label>
    <% end %>
  </a>
</nav>
