<nav class="icon-bar five-up" data-topbar role="navigation">
  <!-- <ul class="title-area">
    <li class="name">
      <h1><a href="/">SafeCatch</a></h1>
    </li>
  </ul> -->

  <a class="item">
    <i class="fi-home"><%= link_to "Home", root_path %></i>
  </a>
  <a class="item">
    <i class="fi-bookmark"></i>
  </a>
  <a class="item">
    <i class="fi-info"><%= link_to "About", static_pages_about_path %></i>
  </a>
  <a class="item">
    <i class="fi-mail"></i>
  </a>
  <a class="item">
    <i class="fi-like"></i>
  </a>
</nav>
