<nav class="icon-bar four-up" role="navigation">
  <a class="item">
    <%= link_to root_path do%>
      <i class="fi-home"></i>
      <label id='itemlabel1'>Home</label>
    <% end %>
  </a>
  <a class="item">
    <i class="fi-anchor"></i>
    <label id='itemlabel2'>Register</label>
  </a>
  <a class="item">
    <%= link_to static_pages_about_path do %>
      <i class="fi-info"></i>
      <label id='itemlabel3'>About Us</label>
    <% end %>
  </a>
</nav>
