// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon-bar > * {
  font-size: 1rem;
  padding: 0rem;
  float: right;
}

body {
  background-image: image-url("blue_ocean_background.png");
  background-attachment: fixed;
}

.textbox {
  background-color: #7E8AA2
}

.textbox p {
  color: #FF9800;
}
