// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Gravitas+One|Roboto+Slab);

/* Home Page Styling */

body {
  background-image: image-url("Optimized-ocean.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  margin-top: 6em;
  margin-bottom: 5em;
}

.hero h2.start {
  line-height: 0.9em;
  color: #B8AC32;
  margin: auto;
  padding: auto;
  font-style: normal;
  font-family: 'Roboto Slab', serif;
}

.hero h2.title {
  font-size: 6em;
  color: #B8AC32;
  font-family: 'Gravitas One', serif;
}
.centered {
  text-align: center;
}

.introduction {
  background: none repeat scroll 0% 0% rgba(44, 41, 35,0.75);
  text-shadow: 1px 1px 1px rgba(44, 41, 35, 0.5);
  margin-top: 5em;

}

.hero p.intro{
  color: #FF9800;
  font-size: 1.5em;
}

.explanation {
  background: none repeat scroll 0% 0% rgba(187, 172, 50, 0.75);
}

.icon-bar > * {
  font-size: 1rem;
  padding: 0rem;
  width: 33.33%;
}

.award p {
  text-align: center;
}


.bottom {
  margin-top: 5em;
  margin-bottom: 3em;
}

/* About Page Styling */

.about {
  background: none repeat scroll 0% 0% rgba(232, 230, 224, 0.65);
  color: black;
  margin-top: 3em;
  margin-bottom: 3em;
}

.about h2 {
  margin-bottom: 1em;
}

.about .nic-pic {
  margin-left: 3em;
}

.about p {
  font-size: 1.25em;
  line-height: 1.3em;
}

/* user show page */

.user-dashboard {
  background: none repeat scroll 0% 0% rgba(187, 172, 50, 0.40);
  margin-top: 3em;
}

.user-dashboard {
  text-align: centered;
}

img.img-circle.img-thumbnail.home-image {
  height: 100px;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* I like the setup below but it itsn't needed for a logout */

// #logout {
//   background-color: transparent;
//   border-width: 5px;
//   color: #60BFBF;
//   font-weight: 180px;
//   border-color: #60BFBF;
//   margin-top: 20px;
//   font-size: .5em;
// }


/* trips index and actions rendered within user dashboard */
.trip-index {
  background: none repeat scroll 0% 0% rgba(187, 89, 50, 0.40);
  border-width: 5px;
  border-color: #60BFBF;
  text-align: centered;
  margin-top: 3em;
}

.trip-table {
  margin-top: -3em;
}

#table {
  border-spacing: 0;
}

#add-trip {
  background-color: transparent;
  border-width: 5px;
  color: #60BFBF;
  // font-weight: 200px;
  border-color: #60BFBF;
  font-size: .8em;
}

/* Add Trip form */

.new-trip-form {
  margin-top: 3em;
  background: none repeat scroll 0% 0% rgba(232, 230, 224, 0.65);
  border-width: 5px;
  border-color: #60BFBF;
}
