// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Home Page Styling */

body {
  background-image: image-url("diamond-zag.png");
  background-attachment: fixed;
}

.hero {
  margin-top: 6em;
}

.hero h2.start {
  line-height: 0.9em;
  color: #B8AC32;
  margin: auto;
  padding: auto;
  font-family: "hotel-open", sans-serif;
  font-style: normal;
}

.hero h2.title {
  font-size: 6em;
  color: #B8AC32;
  margin-bottom: 2em;
}
.centered {
  text-align: center;
}

.introduction {
  background: none repeat scroll 0% 0% rgba(44, 41, 35,0.75);
  text-shadow: 1px 1px 1px rgba(44, 41, 35, 0.5);
}

.hero p.intro{
  color: #FF9800;
  font-size: 1.5em;
}

.explanation {
  background: none repeat scroll 0% 0% rgba(187, 172, 50, 0.75);
}

.icon-bar > * {
  font-size: 1rem;
  padding: 0rem;
  float: right;
}


.bottom {
  margin-top: 5em;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-attachment: fixed;
}

/* About Page Styling */

.about {
  background: none repeat scroll 0% 0% rgba(232, 230, 224, 0.65);
  color: black;
  margin-top: 3em;
}

.about h2 {
  margin-bottom: 1em;
}

.about .nic-pic {
  margin-left: 3em;
}

.about p {
  font-size: 1.25em;
  line-height: 1.3em;
}
